
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

html, body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.container{
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;
    
}

header{
    background-color: #e9d5a1;
    
    height: 650px;
    
}
li{
    list-style: none;
    opacity: 0.6;
}
.intro-li span:hover{
    font-size: 30px;
}
a{
    color: black;
    text-decoration: none;
    background-color: transparent;
    
}
.nav-bar{
    min-height: 70px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
}
.nav-flex{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
 .nav-menu{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 2rem;
    
    /* position: fixed; */
    
    

} 


.nav-brand{
   font-size: 2rem;
   
   display: flex;
    gap: 30px;
    /* justify-content: flex-end; */
   
}
.nav-link{
    transition: 0.7s ease;
    
    font-size: 12px;
    
   

}
.nav-link:hover{
    font-size: 15px;
    
    
}
.hamburger{
    display: none;
    cursor: pointer;
    margin-left: 25rem;
   
    
}
.bar{
display: block;
width: 25px; 
height: 3px; 
margin: 5px auto;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background-color: gray;


}


@media(max-width:768px){
.hamburger{
    display: block;
    

    
}
.hamburger.active.bar:nth-child(2){
    opacity: 0;
}
.hamburger.active.bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active.bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
    position: fixed; 
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background: gray;
    opacity: 0.6;
    width: 88%;
    text-align: center;
    transition: 0.3s;
}
.nav-item{
    margin: 16px 0;
}
.nav-menu.active{
    left: 0;
} 


}


.dev-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}
.header-container{
    
    display: flex;
    align-items: center;
    gap: .5rem;
    justify-content: center;
    /* margin: 15rem ; */
  
    
}



@media (min-width:768px){
    .text,
span{
    font-size: 80px;
}
.intro-ul{
    height: 100px;
    list-style: none;
    overflow: hidden;
}
.intro-li{
    position: relative;
    height: 100px;
    animation: to-top 12s steps(4) infinite;
    
}

.intro-li span{
    color: black;
    opacity: .6;
}

.intro-li::after{
content: "";
position: absolute;
left: 0;
width: 100%;
height: 100%;
 
 border-left:  4px solid white;
animation: to-right 3s steps(19) infinite;

}
@keyframes to-right{
    40%, 60% {
        left: calc(100% + 50px);
    }
    95%{
        left: 0;
    }
}
@keyframes to-top{
    100%{
        transform: translateY(-400%);
    }
}
}

/* about me  */
.about-me{
    height: 450px;
}

.about-me-title,
.project-title{
    text-align: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    font-size: 30px;
}
.about-me-paragraph{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding:2rem;
    position: relative;
}
.about-me-paragraph p .name,
.about-me-paragraph p .country{
    border-bottom: 2px solid #e9d5a1; 
    cursor: pointer;
    font-size:26px;
    
}

.about-me-paragraph img{
    width: 300px;
    position: absolute;
    transform: translate(-50% -50%) !important;
    z-index: -1;
    /* filter: grayscale(1); */
    display: none;
}
/* project-section */
.project-title{
    padding-top: 2.5rem;
}
.project{
    background-color: #e9d5a1;
   
}
.project-container{
    margin: 30px;
    
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.image{
    background-color: #e9d5a1;
    position: relative;
    flex: 1;
    max-width: 460px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}
.image img {
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}

.image:hover img{
    opacity: 1;
}
.image .details{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}
.image .details h2{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
    transition-property: transform;
}
.image .details h2 span{
    font-weight: 900;
}
.image:hover .details h2{
    transform: translateY(-30px);
}
.image .details p{
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity,transform;
}
.image:hover .details p{
    opacity: 1;
    transform: translateY(-40px);
}
.more{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    bottom: -60px;
    transition: 0.6s;
    transition-property: bottom;
}
.image:hover .more{
    bottom: 0;
}

.more .read-more{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;

}
.more .read-more span{
    font-size: 20px;
    font-weight: 900;
}
.more .project-icon-link i{
color: #000;
font-size: 20px;
}
.more .project-icon-link a:not(:last-child){
margin-right: 20px;
}
@media (max-width:1000px){
    .image{
        flex: 100%;
        max-width: 480px;
    }
}
@media(max-width:400px){
    .image .details p{
        font-size: 16px;
    }
    .more .read-more, .more .project-icon-link a i{
        font-size: 18px;
    }
}

/* skill-section */
.skills{
    text-align: center;
    height: 300px;

}
.skills-icon{
    display: flex;
    flex-direction: row;
    
    
width: 100%;
flex-wrap: wrap;
    align-items: center;
    padding: .5rem;
    justify-content: center;
    gap: 1rem;
    

    
}
.icon-border{
    border:2px solid #e9d5a1;
    border-radius:.25rem ;
}




/* footer */
footer{
    background-color: gray;
    opacity: 0.6;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media(min-width: 768px){
     .about-me-paragraph p{
        /* max-width: 70%; */
        text-align: center;
        margin-left: 4rem;
        justify-content: center;
        align-items: center;

    } 
    .card{
    
        transform: translateY(100px);
        opacity: 0;
        transition: 0.9s;
   
   
       }
       .card.show{
           transform: translateY(0);
           opacity: 1;
       }
    
}